<!DOCTYPE html>
<html>
<head>
    <title>ACS730 Final Project</title>
    <style>
        h1 { text-align: center; }
    </style>
</head>
<body>
    <h1>Welcome to ACS730 Final Project!</h1>
    <p>Hello</p>
    <p>Built by reflective_kangaroo</p>
    <h2>Team Members:</h2>
    <ul>
        <li>Ashmy Thomas</li>
        <li>Bhagirath Rao Pemmaraju Venkata</li>
        <li>Krishna AmmayiSayeSivakumaar</li>
        <li>Prateek Lal Shrestha</li>
        <li>Sudeep Saurabh</li>
    </ul>
    <h2>Image Gallery from S3 Bucket</h2>
    <img src="https://{{ bucket }}.s3.amazonaws.com/reflective-kangaroo.jpg" alt="reflective-kangaroo">    
    <img src="https://{{ bucket }}.s3.amazonaws.com/kangaroo.jpg" alt="Kangaroo">
</body>
</html>